
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}
a, ul, li{
    text-decoration: none;
    text-transform: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;

    
}
