@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


/* HEADER
#header{
    width: 100%;
    position: fixed;
    box-shadow: 0px 10px 10px rgba(177, 250, 32, 0.192);    
    z-index: 999; 
}

.navbar ul li a{
    color:white;
    font-size: 1.10rem;
    padding: 10px;
    text-decoration: none;
}
.navbar{
    background: #232323;
}

.navbar ul li a:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(80, 155, 226);
}

/*MAIN*/

/* 

#main{

    height: 109vh;
    align-items: center;
    display: flex;
    text-align: center;
    background: black;
    color: white;
    padding-left: 15rem;
    padding-top: 12rem;

}

.name-introducao {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.name-introducao img{
    width: 150px;
    height: 15%;
    margin-bottom: 2rem;
    margin-left: 70px;
}
.name-introducao span{
    font-size: 3rem;
    margin-top: -90px;
}

.imagem-ilustracao img{
    width: 100%;
    max-width: 60%;
    margin-left: 50px;
} */ 

/* HEADER */
#header{
    padding-top: 5vh;
    background: black;
    font-family: 'Open Sans', sans-serif;

}

#header .navbar-collapse  ul li{
    margin-left: 1rem;
    margin-right: 1rem;

}

#header .navbar-collapse  ul li a:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(80, 155, 226);

}


#header .navbar-collapse ul li a{
    color:white;
    font-size: 1.10rem;
    padding: 10px;
    text-decoration: none;
}

/* MAIN */
#main{
    /* height: 55vh; */
    background: black;
    color:white;
    display: flex;
    padding-bottom: 20vh;
    /* font-family: 'Open Sans', sans-serif; */

}
#main .introducao{
   
    padding: 2rem;
    padding-top:20vh;
}
#main .introducao .text{
    /* width: 110%; */
    display: flex;
    flex-direction: column;
    /* max-width: 40% */
}
#main .introducao .text a{
    width: 100%;
    max-width: 40%;
    margin-top: 2vh ;
    /* text-align:  jus; */
}
.introducao strong{
    font-weight: 900;
    font-size: 3rem;
}
.introducao span{
    font-weight: 950;
    font-size: 3rem;
    color:#0086FF;
}


.imagem-ilustracao img{
    width: 100%;
    max-width:90%;
    margin-top: 5vh;
}











/* SOBRE */
#sobre{
    font-family: 'Open Sans', sans-serif;
    /* height: 90vh; */
    text-align: center;
    align-items: center;
    background: #191919;
    color:white;
    padding: 10rem;
}
#sobre a{
    text-decoration: none;
}
.text-sobre h1{
    color:rgb(80, 155, 226);
    font-weight: 600;
    padding:1rem;
    font-size: 3rem;
}
.imagem-descricao img{
    width: 100%;
    max-width: 30%;
}
.text-sobre p{
    width: 100%;
    max-width: 100%;
}
.redes-sociais{
    display: flex;
    /* justify-content: ; */
    /* text-align: center; */
    /* align-items: center; */
}
.redes-sociais a{
    color: white;
    text-decoration: none;
}
.redes-sociais img{
    width: 100%;
    max-width: 10%;
}
/* SERVIÇOS */
#servicos{
    font-family: 'Open Sans', sans-serif;
    text-align: center;  
    padding: 5em;
    /* margin: 50px; */
    background: black;
    color:white;
}
#servicos h1{
    padding-top: 3rem;
    margin-bottom: 5%;
    font-size: 3rem;
    color:rgb(80, 155, 226);
    font-weight: 600;

}
.servicos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 0% 10% 0% 10%; */
    /* text-align: center; */
    justify-content: center;
}
.servicos-flex img{
    width: 100%;
    padding: 1rem;
    max-width: 50%;
}

.service-1, .service-2, .service-3, .service-4, .service-5{
    border-radius: 15px;
    background: #080A0A;;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 22%;
    box-shadow: 1px 1px 1px 1px  rgba(134, 139, 124, 0.555);    
    /* height: 100%; */
    /* max-height: 90vh; */
    /* padding: 5rem; */
}

#servicos .text{
    width: 100%;
    /* max-width: 60vw; */
    margin-top: 1rem;
    text-align: center;
}

.sobre-service span{
    color: rgb(228, 222, 222);
    font-weight: 700;
    font-size: 1.22rem;
}
/* HABILIDADES */
#habilidades{
    font-family: 'Open Sans', sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #191919;
    text-align: center;
    color: white;
}
#habilidades h1{
    color:rgb(80, 155, 226);
    font-weight: 600;
    padding:1rem;
    font-size: 3rem;
}
.habilidades-flex img{
    width: 100%;
    max-width: 15%;
}
.habilidades-flex{
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.html, .css, .javascript, .mysql, .wordpress, .bootstrap{
    width: 100%;
    max-width: 30%;
    /* margin-top: 5%; */
    margin-bottom: 10%;
}
.lista-estrelas{
    background-image: url(../img/estrela.svg) ;
    /* background-size: 20px; */
    background-repeat: repeat-x;
    height: 20%;
    margin: 0 auto;
    /* width: 100%; */
}
.habilidades-flex h5{
    color: rgb(228, 222, 222);
    font-weight: 700;
    font-size: 1.22rem;
    padding: 10px;
}

/* PORTFÓLIO */
#portfolio{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: black;
    color: white;
    max-height: 100vh;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#portfolio h1{
    color:rgb(80, 155, 226);
    font-weight: 600;
    padding:1rem;
    font-size: 3rem;
}
.lista-portfolio img{
    width: 100%;
    max-width: 95%;
    margin: 10px;
}
.lista-portfolio ul {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    justify-content: center;    
}
/* CONTATO */
#contato{
    font-family: 'Open Sans', sans-serif;
    background: black;
    text-align: center;
    color:white;
    padding-top: 4rem;
    padding-bottom: 5rem;
}
#contato h1{
    color:rgb(80, 155, 226);
    font-weight: 600;
    padding:1rem;
    font-size: 3rem;
}
/* FOOTER */
#footer{
    height: 20vh;
    background: #191919;
    color:white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;

}
.lista-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lista-redes li{
    margin-left: 10px;
}
.lista-redes li a{
    text-decoration: none;

}

@media (max-width: 768px){
    .menu-header ul{
        /* margin-right: 500px; */
        margin-left: -150px;
    }
    .name-introducao {
        margin-left: -100px;
    }    
}

@media (max-width: 425px){
    
    .servicos-flex{
        flex-direction: column;
    }
    .habilidades-flex{
        flex-direction: column;
    }
    .lista-portfolio{
        flex-direction: column;
    }
    .imagem-descricao{
        display: none;
    }
    
    #main{
        /* height: 80vh; */
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }
    /* .name-introducao {
        position: relative;
        margin-top: 4rem;
    } */
    /* .name-introducao img{
        display: none;
    }
    .imagem-ilustracao img{
        max-width: 90%;
        margin-left: 0px;
    } */
    /* .name-introducao span{
        margin-left: 20%;
        /* display: inline; */
    /* }  */
    /* .name-introducao p{
        margin-left: 40%;
    } */
    .imagem-descricao{
        display: none;
    }
    #sobre{
        padding: 1rem;
    }
    .text-sobre {
        width: 100%;
    }

    .redes-sociais img{
        max-width: 30%;
    }
    .habilidades-flex img{
        max-width: 50%;
    }
    /* .html, .css, .javascript, .mysql, .wordpress, .bootstrap{
        width: 30%;
        margin-top: 52%;
        margin-bottom: 30%;
    } */
    #servicos{
        padding: 10px;
    }

    .servicos-flex{
        flex-direction: column;
        justify-content: center;
    }
    .servicos-flex img{
        max-width: 200%    
        
    }

    .service-1, .service-2, .service-3, .service-4, .service-5{
        margin-top: 2rem;
        max-width:90%;
        /* margin-right: 400px; */
        /* margin-left: 2rem; */
        /* max-width: 150%; */
    }


    .habilidades-flex{
        flex-direction: row;
    }
    .html, .css, .javascript, .mysql, .wordpress, .bootstrap{
        max-width: 70%;
    }


    .lista-estrelas{
        background-image: url(../img/estrela.svg) ;
        /* background-size: 20px; */
        background-repeat: repeat-x;
        height: 100%;
        max-height: 10%;
        margin: 0 ato;
    }


    #portfolio{
    max-height: 130vh;
    }

  
    

    
   
  
    .navbar-nav  li   {
       padding: 10px;
       margin-top: 25px;
       background: rgba(114, 103, 103, 0.048);
    }
    #header .navbar-collapse {
        text-align:center;
        padding:1rem;
    }


   /* MAIN */
#main{
    /* height: 55vh; */
    background: black;
    color:white;
    display: flex;
    padding-bottom: 40vh;
}
.introducao strong{
    font-weight: 900;
    font-size: 2rem;
}
.introducao span{
    font-weight: 950;
    font-size: 2rem;
    color:#0086FF;
}


.imagem-ilustracao {
    display: none;
}






















}
/* 

@media (max-width: 360px){
    .menu-header, .logo {
        display: none;
    }
    .main-flex{
        flex-direction:column
    }
}  */